.store-list-item {
    display: inline-block;
    height: 200px;
    width: 32%;
    border: solid 1px #e9ebf2;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.store-name {
    color: #000000;
    font-size: 26px;
    margin-top: 20px;
}

.store-id {
    font-size: 10px;
    margin-top: 50px;
}
